<a href="https://colab.research.google.com/github/WesleySouza13/ESTUDOS/blob/main/limpeza_simples_dfEmpregos_em_ci%C3%AAncia_de_dados_Glassdoor_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#IMPORTANDO BIBLIOTECAS
import pandas as pd

In [6]:
#LEITURA DA BASE DE DADOS
df = pd.read_csv('/content/Glassdoor_Job_Postings.csv')

In [5]:
df.columns

Index(['company', 'job_title', 'company_rating', 'job_description', 'location',
       'salary_avg_estimate', 'salary_estimate_payperiod', 'company_size',
       'company_founded', 'employment_type', 'industry', 'sector', 'revenue',
       'career_opportunities_rating', 'comp_and_benefits_rating',
       'culture_and_values_rating', 'senior_management_rating',
       'work_life_balance_rating'],
      dtype='object')

In [ ]:
#LIMPEZA DE DADOS
#NESSE CASO, VAMOS COMEÇAR VERIFICANDO SE HA DADOS NULOS

df.head(10)

In [11]:
#IDENTIFICAMOS DADOS NULOS NA COLUNA:salary_avg_estimate

df.salary_avg_estimate.isnull().sum()

264

In [12]:
#IDENTIFICAMOS DADOS NULOS NA COLUNA:company_founded
#MAIS PRA FRENTE, VEREMOS QUE O ANO QUE A EMPRESSA FOI FUNDADA N É RELEVANNTE
df.company_founded.isnull().sum()

126

In [14]:
#IDENTIFICAMOS DADOS NULOS NA COLUNA:company_rating
df.company_rating.isnull().sum()

244

In [17]:
#IDENTIFICAMOS DADOS NULOS NA COLUNA:career_opportunities_rating
df.career_opportunities_rating.isnull().sum()

169

In [18]:
df.culture_and_values_rating.isnull().sum()

169

In [19]:
df.senior_management_rating.isnull().sum()

169

In [21]:
df.senior_management_rating.isnull().sum()

169

In [24]:
#tratamento de dados nulos n pode ser feito de qualquer maneira, pois pode causar inconsistencias na analise.
#n podemos mensurar e estimar valores, porem, podemos localizar e dar outro caminho a esse dados. segue:

df.loc[df.salary_avg_estimate.isnull(),'salary_avg_estimate']='Valor desconhecido'

In [ ]:
#COMO NAO ESTAMOS TRABALHANDO COM REGRESSAO LINEAR PARA ESTIMAR O VALOR, SUBSTITUINDO OS DADOS NULOS POR "VALOR DESCONHECIDO"
df.salary_avg_estimate.head(10)

In [ ]:
df.head(10)

In [ ]:
#valor social das empresas(privada ou publica)
 #nesse df, existem 3 tipos de variaveis:'Company - Public, Company - Private,Self-employed'

#primeiro vamos vizualizar usando 'df.employment_type.head(50)'

#depois, vamos substituir dados nulos por 'nao divulgada'
df.loc[df.employment_type.isnull(),'employment_type']='Nao divulgada'
df.employment_type.head(50)

In [ ]:
#PARA AS AVALIACOES 'career_opportunities_rating, comp_and_benefits_rating, culture_and_values_rating, senior_management_rating E work_life_balance_rating, VAMOS USAR UM METODO NAO RECOMENDADVEL PARA ESTIMAR(MEDIA)
#PARA MODELOS DE MACHINE LEARNING, USAMOS METODOS PREDITIVOS OU REGRESSAO LINEAR. ESSE CASO DE ESTUDO, É SO UMA BASE DE LIMPEZA DE DADOS, E COMO ISSO É A PARTE MAIS IMPORTANTE DA ANALISE E CIENCIA DE DADOS
#VAMOS FAZER A MEDIA DE career_opportunities_rating
df.loc[df.career_opportunities_rating.isnull(),'career_opportunities_rating']=df['career_opportunities_rating'].mean()
df.career_opportunities_rating.head(10)
#lembrando que isso não é o melhor metodo a se fazer

In [ ]:
#faremos o mesmo nas outras colunas
df.loc[df.comp_and_benefits_rating.isnull(),'comp_and_benefits_rating'] = df.comp_and_benefits_rating.mean()
df.comp_and_benefits_rating.head(10)

In [ ]:
df.loc[df.culture_and_values_rating.isnull(),'culture_and_values_rating']= df.culture_and_values_rating.mean()
df.culture_and_values_rating.head(10)

In [ ]:
df.loc[df.culture_and_values_rating.isnull(),'culture_and_values_rating'] = df.culture_and_values_rating.mean()
df.culture_and_values_rating.head(10)

In [ ]:
df.loc[df.senior_management_rating.isnull(),'senior_management_rating'] = df.senior_management_rating.mean()
df.senior_management_rating.head(10)

In [ ]:
df.loc[df.work_life_balance_rating.isnull(),'work_life_balance_rating'] = df.work_life_balance_rating.mean()
df.work_life_balance_rating.head(10)

In [ ]:
#agora, vizualizaremos como esta nosso df
df.head()

In [ ]:
#agora, iremos dropar colunas desnecessaria para nossa analise com o comando .drop
df.drop('company_size',axis=1,inplace=True)#se executar essa linha, dara erro pois ja foi removida do df original

In [122]:
#leitura do df orignal
df.head(10)

,company,job_title,company_rating,job_description,location,salary_avg_estimate,company_founded,employment_type,industry,sector,revenue,career_opportunities_rating,comp_and_benefits_rating,culture_and_values_rating,senior_management_rating,work_life_balance_rating
0,ABB,Junior Data Analyst,4.0,Junior Data Analyst\nTake your next career ste...,Bengaluru,"₹3,25,236",1883,Company - Public,Electronics Manufacturing,Manufacturing,$10+ billion (USD),3.700000,3.600000,4.00000,3.500000,3.900000
1,Philips,Data Scientist - AI/ML,4.0,Job Title\nData Scientist - AI/ML\nJob Descrip...,Bengaluru,Valor desconhecido,1891,Company - Public,Healthcare Services & Hospitals,Healthcare,$10+ billion (USD),3.800000,3.700000,4.00000,3.500000,4.000000
2,HSBC,Data Science GSC’s,3.9,Job description\nGraduate/ Post-graduate degre...,Bengaluru,Valor desconhecido,1865,Company - Public,Banking & Lending,Finance,$10+ billion (USD),3.600000,3.600000,3.80000,3.400000,3.700000
3,Facctum Solutions,Data Analyst,sem informação,Job Description\nExperience: 0 - 2 years in da...,Karnataka,Valor desconhecido,--,Company - Private,--,--,Unknown / Non-Applicable,3.838304,3.678796,3.90301,3.677702,3.804378
4,JPMorgan Chase & Co,Data and Analytics - Associate,4.0,JOB DESCRIPTION\n\nYou are a strategic thinker...,India,Valor desconhecido,1799,Company - Public,Banking & Lending,Finance,$10+ billion (USD),4.000000,3.900000,3.90000,3.600000,3.700000
5,Sanfoundry,Data Scientist - Fresher,sem informação,Job Code: Data-Scientist-Fresher-24011\n\nLoca...,Hyderābād,"₹4,16,516",--,Self-employed,Colleges & Universities,Education,Unknown / Non-Applicable,4.500000,4.300000,4.60000,4.700000,4.600000
6,Beinex,Trainee in Data Science,3.9,Highlights\nExperience\nFreshers\nJoining Date...,Cochin,"₹2,80,977",2017,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,3.800000,3.600000,3.90000,3.900000,3.500000
7,Sanfoundry,Junior Software Engineer - Data Science - Fresher,sem informação,Job Code: Data-Scientist-Fresher-24012\n\nLoca...,Hyderābād,"₹3,82,623",--,Self-employed,Colleges & Universities,Education,Unknown / Non-Applicable,4.500000,4.300000,4.60000,4.700000,4.600000
8,Oracle,Data Scientist,3.8,The data science team at Oracle Analytics work...,Bengaluru,"₹7,09,930",1977,Company - Public,Enterprise Software & Network Solutions,Information Technology,$10+ billion (USD),3.600000,3.500000,3.70000,3.500000,4.000000
9,PhonePe,Data Scientist,4.1,About PhonePe Group:\nPhonePe is India’s leadi...,Bengaluru,"₹10,24,695",2015,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable,4.000000,4.200000,4.10000,3.700000,3.800000

In [124]:
#pronto, seus dados estao limpos!